  
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather app</title>
    <link rel="stylesheet" href="practice.css">
</head>
<body id="body">
  <div id="headerr">
 <h1 style="font-size: 40px;">cricketinfo</h1>
</div>
    
    <div class="app-wrap">
       <form>
            <input style="width:300px;height:40px; background-color:blueviolet" placeholder="player name" value="shane watson">
            <button>Search</button>
        </form>

        <p id="message-1"></p>
        <p id="message-2"></p>
        <img  class="circular--square" src="image112.jpg" alt="Lamp" width="200px" height="200px">
<p id="log"></p>
 <pre> pid value-<p id="pidvalue"></p>
 </pre>

<p id="profie">   </p>
<div id="info"> 
 batting style: <span id="battingstyle">NA</span>
</div>

<p>bowlingStyle: <span class="bowlingStyle">NA</span></p>

<p>majorTeams: <span class="majorTeams">NA</span></p>
  
  <p>currentAge: <span class="currentAge">NA</span></p>
    <p>born: <span class="born">NA</span></p>


    <p>fullName: <span class="fullName">NA</span></p>
        <p>name: <span class="name">NA</span></p>
            <p>playingRole: <span class="playingRole">NA</span></p>
      
      <div class="profile1"> profile: <span class="profile">NA</span>
    </div>

    <p id="wicketss">wickets</p>
  <p>odi wicket: <span class="odiwicket">NA</span></p>
    <p>t20 wicket: <span class="t20wicket">NA</span></p>
  <p>test wicket: <span class="testwicket">NA</span></p>


    <p id="wicketss">scores</p>
<div>
  <p> TEST</p>
  <hr>
      <p>test run:<span class="testrun"> NA</span></p>
         <p>100:<span class="testhundred">NA</span></p>
            <p>50:<span class="testfifty">NA</span></p>
            <p>HS:<span class="highscore">NA</span></p>
 <p>SR:<span class="testSR">NA</span></p>


 <hr>
   <p> ODI</p>
<p>odi run:<span class="odirun"></span></p>
         <p>100:<span class="odihundred">NA</span></p>
            <p>50:<span class="odififty">NA</span></p>
            <p>HS:<span class="odihighscore">NA</span></p>
 <p>SR:<span class="odiSR">NA</span></p>

<hr>
   <p> T20</p>
<p>t20 run:<span class="t20run"></span></p>
         <p>100:<span class="t20hundred">NA</span></p>
            <p>50:<span class="t20fifty">NA</span></p>
            <p>HS:<span class="t20highscore">NA</span></p>
 <p>SR:<span class="t20SR">NA</span></p>






</div>

    </div>
    </div>
<div class='col-lg-10'>
   <a  style=" padding:20px; color:white;" href="home" > HOME </a> <!-- link to site -->
<a  style=" padding:20px; color:white;"  href="about" > ABOUT </a> <!-- link to site -->
<a  style=" padding:20px; color:white;" href="help" > HELP </a> <!-- link to site --> 
</div>
    <script src="./client_side.js"></script>
</body>
</html>